<!-- /header -->
<%- include("../conn/header.ejs") %>
<!-- Main Sidebar Container -->

<!-- Content Header (Page header) -->
<body class="hold-transition register-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Wanderlust</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg"><strong>Guide</strong> Login Panel</p>

        <p><b>Your Username or Password is Incorrect.</b></p>

        <a href="/guide/login">Click here to login again</a>

        <!-- <p class="mb-3">
          <a href="/guide/register">Register</a>
        </p> -->
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</body>
<!-- /Footer -->
<%- include("../conn/footer.ejs") %>
