<%- include("../conn/header.ejs") %>
<%- include("../frontviewComm/navbar.ejs") %>
<div class="content-wrapper" style="margin: 0px !important;; ">
    <section class="content-header">
      <div class="container-fluid">
        <h1 class="text-center text-uppercase mb-5">Frequently Asked Questions</h1>
      </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12" >
                <div class="questions-container">
                    <div class="question">
                            <h3>Is there public transit available?</h2>
                            
                        <p>Roam Public Transit provide multiple bus routes throughout the Banff and Lake Louise area to popular locations including Lake Louise, Johnston Canyon, Banff Gondola, Lake Minnewanka and more.

                          Roam Transit's core routes operate year round and additional seasonal routes are added in the summer months to accommodate popular summer locations.
                          
                          Visit the Roam Public Transit website for a full list of services, fares, route schedules and operating months.</p>
                       </div>
            
                    <div class="question">
                        <h3>Can we see any wildlife in Banff?</h2>
                        <p>Banff National Park is home to hundreds of diverse species of wildlife. Look to the skies and you may see bald eagles circling overhead, or one of 260 other species of birds that live here. Grizzly bears and black bears roam the peaks and valleys, as well as moose, elk, wolves and cougars. Keep an eye out as you drive through the park’s mountain roads and you might even see bighorn sheep bounding up the hillsides.</p>
                    </div>
            
                    <div class="question">
                            <h3>What is the best month for hiking? Any expert answer?</h2>    
                        <p>Autumn sees brisk mornings which warm up with the sun. In late September, the glowing larches take on their spectacular golden colour for a fleeting time, the ultimate fall treat to witness in this place. By mid-October, the leaves start to fall and there is often frost on the ground in the morning. The lakes begin to freeze, and the road to the iconic Moraine Lake closes for the winter. This time of year, snow will start to cover the peaks and sometimes dust the valley floor.
                        </p>
                        </div>
            
                    <div class="question">
                            <h3>Any suggestions about biking in Alberta?</h2>
                        <p>Ditch the car and enjoy the freedom of exploring on two wheels. Banff National Park features some of Canada’s most scenic roads and trails with many options, both on-road and off-road, for cyclists of all ages and abilities. Explore biking routes in Banff and Lake Louise.

                            Bike rentals are available in Banff town from Snowtip-Bactrax, SkiBig3 Adventure Hub, Ultimate Sports, and Banff Adventures. Lake Louise rentals available from Wilson Mountain Sports.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
<%- include("../frontviewComm/footer.ejs") %>
<!-- Footer End -->
<%- include("../conn/footer.ejs") %>